#sugerencia {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  #sugerencia h4 {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  #sugerencia label {
    font-weight: bold;
    color: #555;
  }
  #sugerencia textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #sugerencia input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #sugerencia input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffcc00;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #sugerencia input[type="submit"]:hover {
    background-color: #ffa500;
  }